<%- include('../includes/head.ejs') %>
</head>
  <body>
      <%- include('../includes/navigation.ejs') %>

  <!-- component -->
  <section class="text-gray-700 body-font overflow-hidden bg-white">
      <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
          <div id="carouselExampleIndicators" class="carousel slide relative lg:w-1/2" data-bs-ride="carousel">
            <div class="carousel-indicators absolute right-0 bottom-0 left-0 flex justify-center p-0 mb-4">
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>
            <div class="carousel-inner relative w-full overflow-hidden">
              <div class="carousel-item active float-left w-full">
                <img alt="ecommerce" class="w-full object-cover object-center rounded border border-gray-200" src="<%= product.imageUrl %> ">
              </div>
              <div class="carousel-item float-left w-full">
                <img
                  src="<%= product.imageUrl %> "
                  class="block w-full"
                  alt="Camera"
                />
              </div>
              <div class="carousel-item float-left w-full">
                <img
                  src="<%= product.imageUrl %> "
                  class="block w-full"
                  alt="Exotic Fruits"
                />
              </div>
            </div>
            <button
              class="carousel-control-prev absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-0"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev"
            >
              <span class="carousel-control-prev-icon inline-block bg-no-repeat" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-0"
              type="button"
              data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next"
            >
              <span class="carousel-control-next-icon inline-block bg-no-repeat" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <a href="" class="text-sm title-font text-gray-500 tracking-widest"><%= product.collection  %> collection</a>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1"><%= product.productName %> </h1>
            <div class="flex mb-4">
              <span class="flex items-center">
                <span class="text-gray-600 mr-1 text-red-500">4.8</span>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
                <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
                <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 text-red-500" viewBox="0 0 24 24">
                  <path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path>
                </svg>
              </span>
              <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-300 text-gray-500">
                1,5rb penilaian
              </span>
              <span class="flex ml-3 pl-3 py-2 border-l-2 border-gray-300 text-gray-500">
                3,2rb pembelian
              </span>
            </div>
            <span class="title-font font-medium text-2xl text-gray-900">Rp. <%= new Intl.NumberFormat(['id']).format(product.price) %> </span>
            <p class="leading-relaxed mt-2 text-lg"><%= product.description  %> </p>
            <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-200 mb-5">
              <div class="flex items-center">
                <span class="mr-3 text-lg">Ukuran:</span>
                <div class="relative">
                  <select class="rounded border appearance-none border-gray-400 py-2 focus:outline-none focus:border-sky-200 text-base pl-3 pr-10">
                    <option>SM</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>
                  </select>
                  <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                      <path d="M6 9l6 6 6-6"></path>
                    </svg>
                  </span>
                </div>
              </div>
            </div>
            <span>Kuantitas</span>
            <div class="flex items-center mb-3">
              <button class="px-4 py-2 border border-gray-400 rounded-l" onclick="decrementQuantity()">-</button>
              <input class="w-20 text-center border border-gray-400" type="text" value="1" id="quantity">
              <button class="px-4 py-2 border border-gray-400 rounded-r" onclick="incrementQuantity()">+</button>
            </div>
            <span></span>
            <form action="/cart" method="post" class="flex gap-3">
              <button class="flex text-sky-500 bg-sky-500 bg-opacity-10 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded" type="submit">+ Masukkan Keranjang</button>
              <button class="flex text-white bg-sky-500 border-0 py-2 px-6 focus:outline-none hover:bg-red-600 rounded" type="submit">Beli sekarang</button>
              <input type="hidden" name="productId" value="<%= product.id %>">
            </form>
            <div class="flex">
            </div>
          </div>
        </div>
      </div>
      <%- include('../includes/footer.ejs') %>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/tw-elements/dist/js/index.min.js"></script>
<%- include('../includes/end.ejs') %> 

